.btn{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 10px;
    color: #fff;
    cursor: pointer;

}
.bg-red{
    background-color: red;
}
.bg-black{
    background-color: black;
}
.bg-green{
    background-color: green;
}
.btn:hover{
    border:1px solid white;

}
.count{
    width: 100px;
    background: gray;
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: auto;
    margin-bottom: 30px;
    

}
